
<div ng-controller="ProductController" ng-init="find()">
    <!--导航栏-->
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button target="#navbar-collapse-01" toggle="collapse" class="navbar-toggle" type="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand" style="padding: 8px;"><img style="height: 100%;" src="../../img/logo-black.png" alt=""></a>
            </div>
            <div id="navbar-collapse-01" class="navbar-collapse collapse"  style="height: 0.8px;">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/#!/products/offer">物品提供 <span class="sr-only">(current)</span></a></li>
                    <li><a href="/#!/products/get">物品征求</a></li>
                    <li ng-show="authentication.user"><a href="/#!/products/create">发布</a></li>
                    <li class="dropdown" ng-if="authentication.user">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            个人中心
                            <span ng-controller="TradeOrderController" ng-init="newsCtrl()" ng-bind="news.length==0?'':news.length" style="color: red;"></span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/#!/user/{{authentication.user.username}}/offer">我的出售物品</a></li>
                            <li><a href="/#!/user/{{authentication.user.username}}/get">我的求购物品</a></li>
                            <!--<li><a href="#">我的收藏</a></li>-->
                            <li role="separator" class="divider"></li>
                            <li>
                                <a href="/#!/tradeOrder/{{authentication.user.username}}">
                                    我的交易
                                    <span ng-controller="TradeOrderController" ng-init="newsCtrl()" ng-bind="news.length==0?'':news.length" style="color: red;">99</span>
                                </a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#!/user/{{authentication.user._id}}">当前账号：{{authentication.user.username}}</a></li>
                            <li><a href="#!/user/{{authentication.user._id}}/edit">修改我的账号</a></li>
                            <li><a href="/signout">登出</a></li>
                        </ul>
                    </li>
                    <li ng-if="!authentication.user"><a href="/signin">登录/注册</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!--查找-->
    <div class="search container">
        <form class="form-inline">
            <div class="form-group">
                <input type="text" class="form-control" ng-model="filter.name" id="name" placeholder="请输入关键字">
            </div>
            <div class="form-group">
                <div class="col-lg-9">
                    <select name="category" id="category" class="form-control" ng-model="filter.category">
                        <option value="">全部分类</option>
                        <option value="书籍">书籍</option>
                        <option value="衣物">衣物</option>
                        <option value="电子产品">电子产品</option>
                        <option value="日常用品">日常用品</option>
                        <option value="其它">其它</option>
                    </select>
                </div>
            </div>
            <button type="button" ng-click="search()" class="btn btn-default">查找</button>
        </form>
    </div>
    <!--查找结果列表-->
    <div class="container content" id="list-products">
        <div ng-if="productList && !productList.length">
            还没有物品，你要 <a ng-click="renderCreate()" class="createProduct">创建一个</a>吗？
            <!--还没有物品，你要 <a href="/#!/createRoute">创建一个</a>吗？-->
        </div>
        <div class="row my-container">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-repeat="product in productList">
                <div class="my-item">
                    <a ng-href="#!/products/get/{{product._id}}">
                        <div class="my-img-wrap">
                            <img ng-src="{{product.image_url}}" alt="{{product.name}}">
                        </div>
                    </a>
                    <div class="my-summary">
                        <a ng-href="#!/products/get/{{product._id}}">
                            <h4 class="cutOff" ng-bind="product.name"></h4>
                        </a>
                        <p>
                            <span class="my-price">￥<span ng-bind="product.price"></span></span>
                            <span class="creator"> / <span ng-bind="product.creator.username"></span></span>
                        </p>
                        <p><span ng-bind="product.way=='sell' ? '售卖' : '捐赠'"></span><span ng-show="product.exchange_or_not"> / 交换</span></p>
                        <p class="cutOff" ng-bind="product.details"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>